-- Ejecutar este SQL para simplificar a solo PADRE/HIJO:
UPDATE productos SET tipo_producto = 'PADRE' WHERE tipo_producto = 'SIMPLE';
ALTER TABLE productos MODIFY COLUMN tipo_producto ENUM('PADRE', 'HIJO') NOT NULL DEFAULT 'PADRE';
